.arfat-1{
    background-color: #fee2e2;
}
.arfat-2{
    background-color: #FF136F;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}